@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@media(min-width: 1010px){
    .carousel{
        position: relative;
        left:40vw;
        top:10vh;
    }
    .good{
        position:absolute;
        top: 25vw;
        left:20vh;
    }
    .logo{
        position:absolute;
        top:90px;
        left:32vw;
        z-index: 1;
        width: 150px;
        height: 150px;
    }
}
@media(max-width:1000px){
    .logo, .good{
        display: none;
    }
}
.carousel_bg{
    background-color: rgb(217, 232, 238);
}
.disney_title{
    /* font-family: 'Dovemayo_gothic'; */
    font-family: 'NanumSquareNeo-Variable';
    width:70px;
    font-size: 25px;
    text-align: center;
    color:#fff;
    background: #000;
    border-radius: 20px 20px 20px 0;
}
strong{
    /* font-family: 'Dovemayo_gothic'; */
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
}
.detail{
    font-size: 13px;
    color:#7c7a7a;

}
.manglogo{
    width:60px;
    /* height:60px; */
}
.navbar-inner {
    background:transparent;
}